/*
* === CUSTOM FONTS ==========================================
*/

@font-face {
  font-family: DIN Pro;
  src: url(./fonts/FF_DIN_Pro_Regular_Italic.otf);
}

@font-face {
  font-family: DIN Pro;
  src: url(./fonts/FF_DIN_Pro_Bold_Italic.otf);
  font-weight: 700;
}

@font-face {
  font-family: DIN Pro;
  src: url(./fonts/FF_DIN_Pro_Black_Italic.otf);
  font-weight: 900;
}

@font-face {
  font-family: DIN Pro;
  src: url(./fonts/FF_DIN_Pro_Light_Italic.otf);
  font-weight: 100;
}

@font-face {
  font-family: DIN Pro;
  src: url(./fonts/FF_DIN_Pro_Medium_Italic.otf);
  font-weight: 500;
}


/*
* === GLOBAL CONTAINER =======================================
*/

#stock-chart-container {
  font-family: Din Pro;
  padding: 5px;
  width: 690px;
  height: auto;
  /* border: 0.5px solid black; */
  display: flex;
  flex-flow: column;
  align-content: space-around;
}




/*
* === FIRST ROW - COMPANY TAGS ===============================
*/

#stock-chart-company-tags-container {
  height: 40px;
}

.stock-chart-company-tags {
  height: 28px;
  width: auto;
  background-color: #e6f9f3;
  border-radius: 17px;
  font-size: 13px;
  line-height: 19px;
  display: inline-block;
  letter-spacing: 0.25px;
  text-align: center;
  margin: 0 7px;
}

.stock-chart-company-tags:first-child {
  margin-left: 10px;
}

.stock-chart-company-tags-name {
  margin: 4px 15px;
  position: relative;
  top: 8%;
  color: #21ce99;
  font-weight: 500;
}

/*
* === SECOND ROW - COMPANY NAME & STOCK INFO =================
*/

#stock-chart-second-row {
  display: flex;
  height: auto;
  flex-flow: row;
  justify-content: space-between;
}

#stock-chart-company-name {
  display: inline-block;
  margin: 0 10px;
  font-size: 36px;
  line-height: 42px;
  color: #171718;
  font-weight: 500;
}

#stock-chart-percent-and-owners-container {
  display: flex;
  width: auto;
  height: auto;
  flex-flow: row;
  align-items: center;
}

#stock-chart-percent-recommendation {
  height: 28px;
  width: auto;
  background-color: #f4f4f5;
  border-radius: 17px;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.25px;
  text-align: center;
  margin: 0 7px;
}

.sc-icon {
  position: relative;
  top: 7px;
  left: 7px;
  display: inline-block;
  fill: #171718;
  width: 15px;
  height: 15px;
}


.sc-black {
  color: #171718;
  margin-left: 10px;
  position: relative;
  top: 4px;
  left: 3px;
}

#stock-chart-number-of-owners {
  height: 28px;
  width: auto;
  background-color: #f4f4f5;
  border-radius: 17px;
  font-size: 13px;
  line-height: 19px;
  display: inline-block;
  letter-spacing: 0.25px;
  text-align: center;
  margin: 0 7px;
}



/*
* === THIRD ROW - AVERAGE STOCK PRICE & PERCENT CHANGE ==========
*/

#stock-chart-company-info-container {
  display: flex;
  flex-flow: column;
  flex: 1 1 50%;
  height: auto;
}



#stock-chart-average-stock {
  display: inline-block;
  margin: 0 10px;
  font-size: 36px;
  line-height: 42px;
  color: #171718;
  font-weight: 400;
}

#stock-chart-percent-change {
  display: inline-block;
  margin: 0 10px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.25px;
  color: #171718;
  font-weight: 500;
}

.sc-percent {
  color: #424242;
  font-weight: 300;
}



/*
* === FOURTH ROW - GRAPH =========================================
*/

#stock-chart-graph {
  height: auto;
  margin-top: 12px;
}

.stock-chart-linechart_path {
  stroke-width: 2; 
  fill: none;     
}

.stock-chart-linechart_axis {
  stroke: #808283;
}

.stock-chart-linechart_point {
  fill: #21d19c;
  stroke-width: 2;
}

.stock-chart-hoverLine {
  stroke: #e0e0e0;
  stroke-width: 1;
}

.stock-chart-popup {
  position: relative;
  display: block;
  height: 10px;
  width: auto;
}

#stock-chart-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  font-size: 13px;
  color: #808283;
}

.stock-chart-hover .stock-chart-time {
  font-weight: 700;
}



/*
* === FIFTH ROW - TIME FILTER ====================================
*/

#stock-chart-time-filter {
  height: 50px;
}

#stock-chart-times-container {
  margin: 0 15px;
  display: flex;
}

.stock-chart-times {
  margin: 2px 10px;
  font-weight: 500;
  margin-bottom: 7px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.25px;
}

.stock-chart-times:first-child {
  margin-left: 0px;
}

#stock-chart-lines-below {
  margin: 0 15px;
  position: relative;
  bottom: 2px;
  border-top: 1px solid #e0e0e0;
}


